*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
:root{
    --transition: all 0.4s ease-in-out;
}

body{
    line-height: 1.5;
    position: relative;
}

/* btn/links/list/img */
a{
    color: black;
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
img{
    width: 100%;
    display: block;
}
button{
    outline: 0;
    cursor: pointer;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.btn-trans{
    background-color: transparent;
    color: white;
    text-transform: capitalize;
    margin-top: 3%;
    font-size: 1.3rem;
    font-weight: 200;
    padding: 0.7rem 2rem;
    border: 1px solid white;
    transition: var(--transition);
}
.btn-trans:hover{
    background: #62929E;
    border-color: #62929E;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    margin: 0.6rem 0;
    color: #e0e0e0;
    font-weight: 200;
    word-spacing: 2px;
}

/* Header */

.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0.5)),
    url(background.png) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    border-bottom: 1.5px solid white;
}
.navbar-brand{
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}
.navbar-toggler{
    z-index: 100;
    padding: 0.2rem 0.4rem;
    font-size: 1.6rem;
    border: none;
    background: none;
    color: white;
    transition: var(--transition);
}
.navbar-toggler:hover{
    color: #6eccc1;
}
.nav-btns, .nav-icons{
    display: none;
}
.navbar-collapse{
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    height: 100%;
    color: #6eccc1;
    width:0;
    overflow: hidden;
    transition: (var(--transition));
}
.nav-item{
    margin: 0.7rem 0;
    padding: 1rem 0;
    text-align: center;
}
.nav-link{
    color: #6eccc1;
    text-transform:uppercase;
    letter-spacing: 3px;
    font-size: 1.3rem;
    transition: (var(--transition));
}
.nav-link:hover{
    text-shadow: 0 0 4px white;
    color: white;
}
.navbar-nav{
    margin-top: 7rem!important;
    width: 90vw;
    margin: 0 auto;
}

/* Js */
.showNav{
    width: 100%;
}

/* ------------ */

.header-banner{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    color: white;
    opacity: 0.90;
    text-align: center;
}

.header-banner h2{
    font-weight: 400; 
    line-height: 2;
}
.header-banner-title{
    font-size: 2.5rem;
    text-transform: capitalize;
    letter-spacing: -1.5px;
    margin: 1.5rem 0;
}
.header-banner-title span{
    font-size: 3rem;
    font-weight: 600;
}

/* MUSIC */
.music{
    float: right;
    height: fit-content;
    position: relative;
    padding-bottom: 20%;
    display: flex;
    flex-flow: row;
    width: 180px;
    align-items: center;
}
.music p{
    color: #6eccc1;
    font-size: 1rem;
    font-weight: 500;
    
}
.music img{
    width: 22%; 
    margin-left: 1.5%;

}
#icon{
    cursor: pointer;
}
.music img:hover{
    opacity: 0.7;
}


/* FEATURES */
.features{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(feature.jpeg) 
    center/cover no-repeat fixed;
}
.feature-item{
    padding: 2.5rem;
    border-bottom: 0.5px solid #cdcdcd;
}
.feature-icon{
    color: #cdcdcd;
    font-size: 1.8rem;
}
.feature-title{
    color: #cdcdcd;
    text-transform: capitalize;
    margin: 0.6rem 0;
    font-weight: 300;
}


/* PRODUCT */
.product{
    padding: 5rem 0;
    background: linear-gradient(rgb(230, 230, 230),rgb(220, 215, 215));
}
.product-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}
.product-item{
    border-radius: 1rem;
    height: fit-content;
    margin: 5rem 0;
    padding: 1.5rem 0;
    text-align: center;
    position: relative;
    transition: (var(--transition));
}
.product-item:hover{
    background:#6eccc1;
}
.product-item:first-of-type{
    margin-top: 2rem;
}
.product-item:last-of-type{
    margin-bottom: 2rem;
}
.product-item img{
    width: 160px;
    margin: 0 auto;
}
.product-info{
    padding: 2rem;
}
.product-info h4{
    font-size: 1.2rem;
    font-weight: 800;
}
.ratings span{
    color: #62929E;
}
.product-info .text{
    color: #62929E;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.new-btn{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1rem;
    border: none;
    background: ##6eccc1;
    color: #e0e0e0;
    padding: 0.5rem 1.6rem;
    border-radius: 5px;
    transition: (var(--transition));
}
.new-btn:hover{
    opacity: 0.8;
}
.add-btn{
    border-radius: 0;
    border: none;
    padding: 0.7rem 1.8rem;
    background: #62929E;
    font-size: 1rem;
    color: #e0e0e0;
    transform: translate(-50% 50%);
    transition: (var(--transition));
}
.add-btn:hover{
    background: black;
}

/* ORDER */
.order{
    padding: 5rem 0;
    background: linear-gradient(rgb(78, 117, 126),
    rgb(121, 170, 183),rgb(117, 179, 194));
}
.order-img{
    width: 50%;
    margin: 0 auto;
}
.order-content{
    padding: 1.5rem 0;
    text-align: center;
}
.order-title{
    text-transform: capitalize;
    font-size: 2.7rem;
    line-height: 1.3;
    color: #e0e0e0;
}
.order .btn-trans{
    margin-top: 1rem;
}
.order .btn-trans:hover{
    background: #e0e0e0;
    color: #62929E;
    border: none;
}

/* REVIEW */
.reviews{
    padding: 5rem 0;
    background: linear-gradient(rgb(255, 255, 255),rgba(190, 190,190));
}
.reviews-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    height: 400px;
}
.review-item{
    text-align: center;
    padding: 3rem;
}
.review-title{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
}
.reviews .text{
    font-size: 1rem;
    color: #62929E;
    margin: 2rem 0;
}
.review-item h3{
    font-size: 0.5rem;
    font-weight: 300;
    justify-content: center;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
}
.prev-btn, .next-btn{
    position: absolute;
    font-size: 1.5rem;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    border: none;
    background: #cc876e;
    color: white;
    transition: (var(--transition));
}
.prev-btn{
    left: 0;
    top: 50%;
    transform: translate(-50%);
}
.next-btn{
    right: 0;
    top: 50%;
    transform: translate(-50%);
}
.prev-btn:hover{
    opacity: 0.8;
}
.next-btn:hover{
    opacity: 0.8;
}
.review-item{
    display: none;
}
.activeSlide{
    display: block;
}

/* NEWSLETTER */
.newsletter{
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0,0.7)),
    url(news.jpeg) center/cover no-repeat fixed;
    padding: 5rem 0;
    text-align: center;
}
.form-control{
    font-size: 1rem;
    background: transparent;
    padding: 0.9rem 1rem;
    border: 1.5px solid #6eccc1;
    color: #6eccc1;
    font-weight: 200;
}
.newsletter h2{
    color: white;
    text-transform: uppercase;
}
.form-control::placeholder{
    color: #6eccc1;
}
.form-control:focus{
    outline: none;
}
.form-control, .newsletter .btn-trans{
    width: 100%;
    margin: 1rem 0;
}
.newsletter .btn-trans{
    background: #6eccc1;
    border-color: transparent;
    font-size: 1.1rem;
}
.newsletter .btn-trans:hover{
    background: white;
    color: #62929E;
    border-color: #62929E;
}

/* FOOTER */
.footer{
    text-align: center;
    background: linear-gradient(rgba(2, 2, 2, 0.8),rgba(4, 4, 4));
}
.footer-wrapper{
    padding: 5rem 0;
}
.footer-wrapper div{
    margin: 2.5rem 0;
}
.footer-links li{
    margin: 0.6rem 0;
}
.footer-links li a{
    text-transform: uppercase;
    font-weight: 200;
    opacity: 0.9;
    color: white;
    transition: (var(--transition));
}
.footer-links li a:hover{
    color: #cc876e;
}
.footer-text{
    padding: 1.7rem 0;
}


/* Media Queries */
@media screen and (min-width:500px){
    .navbar-brand{
        font-size: 1.5rem;
    }
    .nav-icons{
        display: flex;
    }
    .nav-icons a{
        color: white;
    }
    .nav-icons span{
        color: white;
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: (var(--transition));
    }
    .nav-icons span:hover{
        opacity: 0.8;
    }
    .header-banner{
        text-align: left;
    }
    .header-banner h3{
        font-size: 1.3rem;
    }
    .header-banner-title{
        font-size: 4rem;
    }
    .product-item img{
        width: 200px;
    }
    .product-item .text{
        width: 60%;
    }
    .review-item .text{
        font-size: 1.5rem;
    }
    .review-item h3{
        text-align: left;
        font-size: 1.3rem;
    }
    .newsletter .btn-trans, .form-control{
        width: 70%;
    }
}

@media screen and (min-width: 768px){
    .features-wrapper{
        padding: 5rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .feature-item{
        border: none;
    }
    .feature-item:nth-child(odd){
        border-right: 0.5px solid #cdcdcd;
    }
    .order-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        align-items: center;

    }
    .order-content{
        text-align: right;
        margin-left: 20%;
    }
    .review-item .text{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .review-item h3{
        font-size: 1.3rem;
    }
    .newsletter .btn-trans, .form-control{
        width: auto;
    }
    .form-control{
        width: 400px;
    }
    .footer-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-wrapper div{
        margin: 0;
    }


@media screen and (min-width:992px){
    .navbar-toggler{
        display: none;
        z-index: 1000;
    }
    .nav-btns{
        display: flex;
    }
    .nav-btns button{
        display: inline-block;
        font-size: 0.9rem;
        font-weight: 300;
        opacity: 0.9;
        padding: 0.4rem 0;
        border-width: 0.5px;
        border-style: solid;
        margin: 0 0.5rem;
        width: 100px;
        transition: all 0.4s ease-in-out;
    }
    .nav-btns button:hover{
        opacity: 1;
    }
    .nav-btns button:first-child{
        border-color: #e0e0e0;
        background: transparent;
        color: #e0e0e0;
    }
    .nav-btns button:first-child:hover{
        border: #e0e0e0;
        background: #62929E;
    }
    .nav-btns button:last-child{
        border-color: #e0e0e0;
        background: transparent;
        color: #e0e0e0;
    }
    .nav-btns button:last-child:hover{
        border: #e0e0e0;
        background: #62929E;
        
    }
    
    .navbar-extra-content{
        flex: 1 0 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 0;
    }
    .navbar-collapse{
        position: relative;
        width: 100%;
        background: transparent;
        flex: 0 0 40%;
    }
    .navbar-nav{
        display: flex;
        margin: 0!important;
    }
    .nav-icons{
        padding: 0;
        margin: 0 0.8rem;
    }
    .nav-link{
        font-size: 1.1rem;
        letter-spacing: normal;
        text-transform: capitalize;
        margin-right: 50px;
        color: #e0e0e0;
    }
    .nav-link:hover{
        text-shadow: none;
        color: #b3cbd0;
    }
    .navbar-brand{
        flex: 0 0 200px;
    }
    .header-banner div{
        width: 70%;
        margin: 0 auto;
    }
    .product-item-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6rem;
    }
    .product-item:last-of-type{
        margin-top: 2rem;
    }
}

@media screen and (mid-width: 1500px) {
    .features-wrapper{
        height: 800px;
        grid-template-columns:25% 25% 25% 25%;
    } 
    .feature-item:nth-child(2){
        border-right: 0.5px solid #cdcdcd;
    }
    .feature-item:nth-child(odd) .feature-icon{
        display: block;
        margin-top: 12rem;
    }
}

/* animation and transition stop */

.resize-animation-stopper *{
    animation: none!important;
    transition: none!important;
}
